
<!--------------------------inicio do código do menu-------------------------->
<div style="height: 100vh;">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
          <mat-icon>menu</mat-icon>
        </button>
          <span><a routerLink ="/"><img class="logo" src="assets/img/integracao.png" alt="menu" width="200"></a></span>
            <span class="example-spacer"></span>
          <div fxShow="true" fxHide.lt-md="true"><!-- Menu expandido -->
            <a routerLink="/areaConhecimento" mat-button class="menuzao"><mat-icon>school</mat-icon>Area de Conhecimento</a>
            <a routerLink="/disciplina" mat-button class="menuzao"><mat-icon>layers</mat-icon>Disciplina</a>
            <a routerLink="/conteudo" mat-button class="menuzao"><mat-icon>message</mat-icon>Conteúdo</a>
            <a routerLink="professor" mat-button class="menuzao"><mat-icon>account_box</mat-icon>ProfessorJOJOJO</a>
          </div>
        </mat-toolbar-row>
      </mat-toolbar>
    
      <mat-sidenav-container fxFlexFill>
        <mat-sidenav #sidenav>
          <mat-nav-list><!-- Menu compacto para responsividade -->
            <a routerLink="/areaConhecimento" mat-list-item><mat-icon>school</mat-icon>Area de Conhecimento</a>
            <a routerLink="/disciplina" mat-list-item><mat-icon>layers</mat-icon>Disciplina</a>
            <a routerLink="/conteudo" mat-list-item><mat-icon>library_books</mat-icon>Conteúdo</a>
            <a routerLink="/professor" mat-list-item><mat-icon>account_box</mat-icon>ProfessorJOJOJO</a>
            <a (click)="sidenav.toggle()" mat-list-item><mat-icon>close</mat-icon> Close</a>
          </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content fxFlexFill>
            <div class="container">
                <router-outlet></router-outlet>
              </div>
          </mat-sidenav-content>
        </mat-sidenav-container>
        
      </div>
    <!--------------------------fim do código do menu-------------------------->
   