<!--The content below is only a placeholder and can be replaced.-->
<app-menu>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="index.html"><img src="img\barbagb.png" alt="CavanhaMan" width="200"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="index.html"><img class="img-fluid" alt="Responsive image" src="img\homeb.png" alt="Home" width="25"><span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cadastros</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="cliente.html"><img src="img\icocliente.svg" alt="C"> Cliente</a>
            <a class="dropdown-item" href="gibi.html"><img src="img\icogibi.svg" alt="G"> Gibi</a>
            <a class="dropdown-item" href="editora.html"><img src="img\icoeditora.svg" alt="E"> Editora</a>
            <a class="dropdown-item" href="categoria.html"><img src="img\icocategoria.svg" alt="C"> Categoria</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Relatórios</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="cliente.html"><img src="img\icocliente.svg" alt="C"> Cliente</a>
              <a class="dropdown-item" href="gibi.html"><img src="img\icogibi.svg" alt="G"> Gibi</a>
              <a class="dropdown-item" href="editora.html"><img src="img\icoeditora.svg" alt="E"> Editora</a>
              <a class="dropdown-item" href="categoria.html"><img src="img\icocategoria.svg" alt="C"> Categoria</a>
            </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><img src="img\icosearch.svg" alt="S"> Search</button>
      </form>
    </div>
  </nav>
</app-menu>
<router-outlet></router-outlet>
