<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"> 
    <meta name="author" content="Jordana Vilela and Bootstrap contributors">
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!--Renderização correta e o zoom -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </head>
<!----MEU CODIGO ORIGINAL----->
<body>
    <BR><BR>
        <div style="text-align:center" class="InitialText">
            <h1 align="center" class="jumbotron text-center">
                Sistema de Integração Curricular <BR><BR>Bem vindo!!!
            </h1>
            <img src="assets/img/logo2.png" alt="integracao" class=img-responsive width="400"/>
        </div>
          <!----FINAL DO MEU CODIGO ORIGINAL----->
          <router-outlet></router-outlet>
</body>
</html>