        <!----MEU CODIGO ORIGINAL----->
        <BR><BR><BR><BR><BR><BR>
          <div style="text-align:center">

              <h1 align="center">
                  Sistema de Integração Curricular <BR><BR>Bem vindo!!!
              </h1>
              <img src="assets/img/logo2.png" alt="integracao" class=img-responsive width="200"/>
          </div>
          <BR><BR><BR>
          <p>testar: http://localhost:9000/</p>
          
          <!----FINAL DO MEU CODIGO ORIGINAL----->
          <router-outlet></router-outlet>